body {
   background-color: #100c0c;
   box-sizing: border-box;
   margin: 0px;
   overflow-x: hidden;
   overflow-y: hidden;
   max-height: 100vh;
   height: 100vh;
}

aside {
   position: relative;
   width: 300px;
   left: 0;
   bottom: 0;  
   top: 0;
   font-size: 16px;
   font-weight: 500;
   padding: 20px;
   height: 85vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}



.menu {
   display: flex;
   flex-direction: row;
   position: relative;
}

.menu ul li img {
   width: 24px;
}

.menu ul li {
   padding: 10px;
}

.menu ul li a {
   text-decoration: none;
   color: gray;
}

.menu ul * {
   cursor: pointer;
}

.menu ul li span {
   position: relative;
   top: -5px;
   left: 8px;
}

.grey-filtered {
   filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0);
}

.account_img {
   width: 40px;
   height: 40px;
   border-radius: 20px;

}

.account span {
   color: white;
}

.account {
   display: flex;
   align-items: center;
   gap: 10px;
}